<h1>
  <%= t :media_libray %>
  <small><%= "for #{@content.to_s}" if @content %></small>
</h1>

<%= ul_media(@media, @content) %>  

<%= link_to icon('plus') + 'new medium', new_cmsino_medium_path %>  
