<h1>Posts</h1>

<ul class="list-group">
  <% @posts.each do |p| %>  
    <li class="list-group-item">
    <p><%= p.name %> (<%= l p.date %>)</p>
    <%= raw p.text %> 
    <%= link_to 'edit', edit_cmsino_content_path(p) %>  
  <% end %>
</ul>
